.list-item {
  cursor: pointer;
}
.list-item__active {
    background: skyblue;
    border-radius: 5px;
}

.column__header {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.sidemenu {
  width: 100%;
  height: 100%;
}

.tool-container {
  padding: 25px;
}