.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 20px;
  text-align: center;
  background: red;
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
}