.repo {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  line-height: 20px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.repo:hover {
  background: skyblue;
}

.btn__back {
  width: 70%;
  height: 35px;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  cursor: pointer;
  transition: .3s;
}

.btn__back:hover {
  background: skyblue;
}
