.Jira__item {
  width: 90%;
  height: auto;
  line-height: 32px;
  font-size: 16px;
  margin: 10px auto;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.Jira__item:hover {
  background: deepskyblue;
}

.active {
  background: deepskyblue;
}

.center {
  text-align: center;
}

.list__header {
  text-align: center;
  margin: 0 auto 20px;
}

.user__title {
  text-align: center;
}